/* @media screen and (max-width:992px) {
    
  .nav-section {
      width:100% !important;
      height:10vh !important;
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: center;
  }
  .git {
      display: none;
  }
  .nav-section a {
      padding-top: 0;
      margin-top:0;
  }
  .wrapper {
      display:flex !important;
      flex-direction:column !important;
      margin:0;
      font-size: 16px;
  }
} */
html, body {
  margin:0;
  padding:0;
}
.App {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  background-color: #0C1B20;
  height:100vh;
  font-family: Ubuntu Light, 'sans-serif';
/*     background-image: url('images/home-picc.jpeg');
*/    background-position: center;
  background-size: cover;
  background-repeat: none;
  text-align: center;
  color:gainsboro;
  font-size:1rem;
}
:root {
  --color1: #0D1B2A;
  --color2: #1B263B;
  --color3: #415A77;
  --color4: #778DA9;
  --color5: #E0E1DD;
}



                              /* Nav section */
.nav-section {
  background-color: var(--color1);
  height:100vh;
  width:8%;
  justify-content: start;
  display:flex;
  flex-direction:column;
  list-style-type: none;
  -webkit-box-shadow: 9px 1px 30px -4px rgba(0,0,0,0.75);
          box-shadow: 9px 1px 30px -4px rgba(0,0,0,0.75);
}

#home {
  border-right: 5px solid yellow;
}

#home:hover {
  background-color:yellow;
  color:var(--color1)
}

#about {
  border-right: 5px solid red;
}

#about:hover {
  background-color:red;
  color:var(--color5)
}

#contact {
  border-right:5px solid blue;
}

#contact:hover {
  background-color:blue;
  color:var(--color5);
}

#projects{
  border-right:5px solid green;
}

#projects:hover {
  background-color:green;
  color:var(--color5);
}

.link {
  text-align: center;
  color: white;
  text-decoration: none !important;
  margin:20% 0;
}

.link{
  padding:4px 5px;
  -webkit-transition: background-color .5s, border-radius .5s;
  -o-transition: background-color .5s, border-radius .5s;
  transition: background-color .5s, border-radius .5s;
}

.link:hover {
  background-color:white;
  color: var(--color2);
}



                              /* Home */
.home {
  height:auto;
  position: relative;
  font-size:2rem;
  display:flex;
  flex-direction: column;
  width:100%;
}

.home h1 {
  -webkit-animation-name: woble;
          animation-name: woble;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  font-weight: 200;
}

.home h3 {
  -webkit-animation-name: reverseWoble;
          animation-name: reverseWoble;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  font-weight: 200;
}

.home h1, .home h3 {
/*   background-color: rgba(43, 43, 43, 0.5); */
  width:100%;
  font-size:4rem;
  
}

                              /* Work Section */
.work {
  height:auto;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  WIDTH:100%;
  -ms-flex-line-pack:center;
      align-content:center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top:0;
}
.open-project {
  padding:3px 6px;
  border: 1px solid var(--color4);
  margin:5% 30%;
  border-radius:15px;
  
}
.project {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content: center;
  text-align:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  background: var(--color4);
  margin:auto 2%;
  width:250px;
/*   border: 1px solid white;
 */  border-radius:10%;
  padding:1%;
  
}
.project-tech {
  font-size:2rem;
}
.project h3 {
  font-size:2rem;
  margin:auto 10%;
  color: var(--color2)
}

.project a {
  font-size:1.4rem;
  color: var(--color);
  background: var(--color3);
  text-decoration: none;
}

.project a:hover {
  color:var(--color1);
  -webkit-transition:background-color 0.45s ease;
  -o-transition:background-color 0.45s ease;
  transition:background-color 0.45s ease;
  background-color:var(--color5);
}

.project-img {
  width:90%;
  margin:5px 5%;
}

.project .tech img {
  margin:5px !important;
}

.tech {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  margin:2% 12%;
  padding:10px 20px;
  -ms-flex-line-pack:center;
      align-content:center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          background: var(--color2);
          border-radius:10px;
}
.tech i {
  margin:auto 3%;
  padding:2%;
}


                      /*About*/
.about {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack:center;
      align-content:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  font-size:1rem;
  width:100%;
  
}
.about p {
  font-size:1rem;
  width:100%;
  -webkit-animation-name:head;
          animation-name:head;
  -webkit-animation-duration:1s;
          animation-duration:1s;
}
.about .bio {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width:40%;
  margin-left:15%;
  margin-top:5%;
  color:gainsboro;
  padding:2%;
  height:80vh;
  border-radius:5px;
  background-color:var(--color2);
}
.about img {
  max-width:250px;
  max-height:300px;
  margin-top:10%;
}
.about i {
  padding:0.22rem;
  font-size:3rem;
}
.icon-javascript {color:yellow;}
.icon-html5{color:#E44D26;}
.icon-css3{color:#1B73BA;}
.icon-jquery{color:#045FA6;}
.icon-reactjs{color:#61DBFB;}
.icon-bootstrap{color:#583B7E;}
.icon-git{color:#F15034;}
.icon-sass{color:fuchsia;}
.icon-nodejs{color:#689F63;}
.icon-npm{color:#689F63}
.icon-fire-alt{color:#FFCB2E}
.icon-gulp-alt{color:#FFCB2E}

.about-me {
  text-align: left;
}


.tech-list {
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  padding:1rem;
  
}
.tech-list i {
  padding: 0.5rem;
  
}

                                              /*Contact*/
.contact {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  
          justify-content: center;
        width:100%;

}
.contact form {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
          width:70%;
          align-self: center;
  
  -webkit-animation-name: subhead;
          animation-name: subhead;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.contact h1 {
  -webkit-animation-name:subhead-reverse;
          animation-name:subhead-reverse;
  -webkit-animation-duration:1s;
          animation-duration:1s;
          font-weight: 200;
}
.contact #name-field, .contact #mail-field, .contact #message-field {
  margin:2% auto;
  font-family: Ubuntu Regular, 'sans-serif';

}
.contact #name-field {
  padding:15px 15px;
  border-radius:5px;
  border:0;
}
.contact #mail-field {
  padding:14px 14px;
  border-radius:5px;
  border:0;
}
.contact #message-field {
  height:150px;
  border-radius:5px;
  border:0;
  width:70%;
  max-width:400px;
  padding:9px 9px;
}
.contact button {
  background-color:gainsboro;
  padding:8px 16px;
  border:none;
}
                            
                                             /*Animations*/
@-webkit-keyframes head {
  from{-webkit-transform:translateX(200px);transform:translateX(200px);}
  to{-webkit-transform:translateX(0px);transform:translateX(0px);}
}
@keyframes head {
  from{-webkit-transform:translateX(200px);transform:translateX(200px);}
  to{-webkit-transform:translateX(0px);transform:translateX(0px);}
}
@-webkit-keyframes subhead {
  from{-webkit-transform:translateY(140px);transform:translateY(140px);}
  to{-webkit-transform:translateY(0px);transform:translateY(0px)}
}
@keyframes subhead {
  from{-webkit-transform:translateY(140px);transform:translateY(140px);}
  to{-webkit-transform:translateY(0px);transform:translateY(0px)}
}
@-webkit-keyframes subhead-reverse {
  from{-webkit-transform:translateY(-140px);transform:translateY(-140px);}
  to{-webkit-transform:translateY(0px);transform:translateY(0px)}
}
@keyframes subhead-reverse {
  from{-webkit-transform:translateY(-140px);transform:translateY(-140px);}
  to{-webkit-transform:translateY(0px);transform:translateY(0px)}
}
@-webkit-keyframes fadeIn {
  from{opacity:0%;}
  to{opacity:100%}
}
@keyframes fadeIn {
  from{opacity:0%;}
  to{opacity:100%}
}
@-webkit-keyframes reverseWoble {
  0% {-webkit-transform:translateX(-200px);transform:translateX(-200px);}
  50%{-webkit-transform:translateX(80px);transform:translateX(80px);}
  100%{-webkit-transform:translateX(0px);transform:translateX(0px)}
}
@keyframes reverseWoble {
  0% {-webkit-transform:translateX(-200px);transform:translateX(-200px);}
  50%{-webkit-transform:translateX(80px);transform:translateX(80px);}
  100%{-webkit-transform:translateX(0px);transform:translateX(0px)}
}
@-webkit-keyframes woble {
  0% {-webkit-transform:translateX(200px);transform:translateX(200px);}
  50% {-webkit-transform:translateX(-80px);transform:translateX(-80px);}
  100% {-webkit-transform:translateX(0px);transform:translateX(0px);}
}
@keyframes woble {
  0% {-webkit-transform:translateX(200px);transform:translateX(200px);}
  50% {-webkit-transform:translateX(-80px);transform:translateX(-80px);}
  100% {-webkit-transform:translateX(0px);transform:translateX(0px);}
}
                              /* For smaller screens*/
